
<footer class="footer">
	<div class="footer-logo">
		<i class="fa fa-line-chart fa-2x"></i>
	</div>
  
	<div class="footer-links">
		<ul>
		  <li><h3>Content</h3></li>
		  <li><%= link_to 'Home', '/'%></li>
		  <li><%= link_to 'Contact', '/contact/'%></li>
		</ul>

		<ul>
		  <li><h3>Sarah Leydon</h3></li>
		  <li>Third Party Collections Specialist</li>
		</ul>

		<ul>
		  <li><h3>AAA Medical Billing</h3></li>
		  <li>Phone: <a href="tel:530.865.8727">530.865.8727</a></li> 
		  <li>Claims Fax <a href="tel:530.341.0310">530.341.0310</a></li> 
		  <li>EOB Fax <a href="tel:530.387.6447">530.387.6447</a></li> 
		</ul>
	</div>


  <hr>

  <p><a href="mailto:sarah@aaamb.com">sarah@aaamb.com</a></p>
</footer>




