// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------
body {
  background-color:#eee;
}
// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
  @include clearfix;
  @include linear-gradient(#658DB5, darken(#658DB5, 15));
  border-bottom:black 1px solid;

  h1 {
  	margin:1.2em 0;
  	font-size:1.2em;
  }
  height:50px;
}

.site-main {
  @include section_padding(2em);
  background-color:#fff;
}
.section-main {
  	@include outer-container;

	aside {
		img {
			margin-top: 20px;
		}
		ul {
			display: none;
		}

		@include media($medium-screen) {
			@include span-columns(3); 
			ul { display: block;}
		}
	}
	article {

		@include media($medium-screen) {
			@include span-columns(9);
		}
	}
}

.site-footer {
  border-top: 1px solid #eee;
  text-align:center;
  background-color:#eee;
}



// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
}

// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------
$mobile-nav-screen: $medium-screen + 10;

.site-nav {
	@include clearfix;

	.navbar-brand {
	    margin:0;
	    padding-top: .6em;
	    float: left;
		font-size: 1.4em;
		color: #002B36;
	}

	.site-logo {
		display: block;
		border-radius: 100%;
		margin: auto;
	}

	.nav-links {
		height: 0;
		overflow: hidden;

		@include media($mobile-nav-screen) {
			height: auto;
			float:right;
		}

		a {
			@include trailing-hovers;
			@include media($mobile-nav-screen) {
				display: block;
				float: left;
				line-height: 0;
		        font-weight: bold;
				color: #002B36;

		        // I removed the top and bottom padding of the header
		        // and fattened up the touch targets on these links.
		        // Now they're easier to click.
				padding: 1.5em;

		        &:hover {
		          background: #002B36;
		          color: #EFE8D5;
		        }
			}
		}

		.nav-right {
			@include media($mobile-nav-screen) {
				float: right;
			}
		}
	}
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 1.5em;
	right: 1.5em;
	z-index: 2;

	@include media($mobile-nav-screen) {
		display: none;
	}

	i {
		font-size: 2em;
		line-height: 0;
		display: block;
		color: #002B36;
	}

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
	}
}

// Menu active
.menu-active {

	.nav-links {
		height: auto;
		overflow: auto;
	    position: absolute;
	    top: 100%;
	    left: 0;
	    right: 0;
	    background: rgba(239,232,213,.95);
	    box-shadow: 0 10px 10px rgba(0,43,54,.4);

		a {
			display: block;
			margin: 2em 0;
			text-align: center;
      		color: #002B36;
		}
	}
}


// ------------------------------------------------------------
// footer
// ------------------------------------------------------------
.site-footer{}

.footer {
  $footer-background: desaturate(darken($light-blue, 0), 4);
  $footer-color: $white-smoke;
  $footer-link-color: transparentize($footer-color, .2);
  $footer-disclaimer-color: transparentize($footer-color, .5);

  background: $footer-background;
  padding: $base-line-height*2 $gutter;
  width: 100%;
 

  .footer-logo {
    text-align: center;
    margin-bottom: 2em;
    i {
    	color: $white-smoke;
    }

    img {
      height: 4em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }
  a {
  	color: $white-smoke;
  }

  li {
    text-align: center;
    color: $white-smoke;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
