---
title: Contact Us
custom_url: contact
---

<h1>Get Started Now</h1>
<p>
	Call now and tell us what you are looking for and we will let you know everything that AAA Medical Billing has to offer. An in depth interview can be scheduled, which will include the simple steps it takes to begin the billing process. A billing course can be provided for no extra charge to insure that all services rendered are being properly coded.
</p>

<h2>Call Now</h2>
<p>
	AAA Medical Billing<br />
	Fax: <a href="tel:408.210.5584">408.210.5584</a><br />
	Phone: <a href="tel:530.865.8593">530.865.8593</a><br />
	<a href="mailto:sarah@aaamb.com">sarah@aaamb.com</a>
<p>